<!--sidebar nav start-->
<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="active"><a href="/"><i class="fa fa-home"></i> <span>首页</span></a></li>

    <li class="menu-list" ng-repeat="value in menuList" repeat-menu="menuToggle()">
        <a href="/#/{{value.url}}"><i class="fa fa-{{$index | leftMenuIco}}"></i> <span>{{value.name}}</span></a>
        <ul class="sub-menu-list" ng-if="value.childMenu.length > 0">
            <li ng-repeat="childMenu in value.childMenu" ng-class="{'active':('/' + childMenu.url) == childMenu}"><a href="/#/{{childMenu.url}}"> {{childMenu.name}}</a></li>
        </ul>
    </li>

</ul>
<!--sidebar nav end-->
