<div class="page-heading">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<!--<div class="col-md-3 col-sm-12 col-xs-12 form-group">-->
				<!--<label class="col-lg-5 col-sm-4 control-label">对账单号:</label>-->
				<!--<div class="col-lg-7">-->
					<!--<input type="text" ng-model="orderNo" class="form-control" placeholder="对账单号" />-->
				<!--</div>-->
			<!--</div>-->
			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<label class="col-lg-5 col-sm-4 control-label">对账单类型:</label>
				<div class="col-lg-7">
					<select class="form-control"  ng-model="type">
						<option selected="selected" value="">全部</option>
						<option value="1">连连明细对账单</option>
						<option value="2">浦发明细对账单</option>
						<option value="3">浙商存管明细对账单</option>
					</select>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<label class="col-lg-5 col-sm-4 control-label">对账单状态:</label>
				<div class="col-lg-7">
					<select class="form-control"  ng-model="status">
						<option selected="selected" value="">全部</option>
						<option value="1">初始化</option>
						<option value="2">对账完成</option>
						<option value="3">对账取消</option>
					</select>
				</div>
			</div>

			<!--<div class="col-md-3 col-sm-12 col-xs-12 form-group">-->
				<!--<label class="col-lg-5 col-sm-4 control-label">开始时间:</label>-->
				<!--<div class="col-lg-7">-->
					<!--<input type="text" id="createdTimeStart" class="form-control" placeholder="开始时间" value="" onfocus="WdatePicker({errDealMode:1,el:'createdTimeStart',dateFmt:'yyyy-MM-dd 00:00:00'})"/>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="col-md-3 col-sm-12 col-xs-12 form-group">-->
				<!--<label class="col-lg-5 col-sm-4 control-label">结束时间:</label>-->
				<!--<div class="col-lg-7">-->
					<!--<input type="text" id="createdTimeEnd" class="form-control" placeholder="结束时间" value="" onfocus="WdatePicker({errDealMode:1,el:'createdTimeEnd',dateFmt:'yyyy-MM-dd 23:59:59'})" />-->
				<!--</div>-->
			<!--</div>-->
		</div>
		<div class="form-group">

			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<label class="col-lg-5 col-sm-4 control-label">对账期开始时间:</label>
				<div class="col-lg-7">
					<input type="text" id="periodStartTimeStart" onfocus="WdatePicker({errDealMode:1,el:'periodStartTimeStart',dateFmt:'yyyy-MM-dd 00:00:00'})" class="form-control"  placeholder="对账期开始时间" value="" />
				</div>
			</div>

			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<label class="col-lg-5 col-sm-4 control-label">对账期结束时间:</label>
				<div class="col-lg-7">
					<input type="text" id="periodStartTimeEnd" onfocus="WdatePicker({errDealMode:1,el:'periodStartTimeEnd',dateFmt:'yyyy-MM-dd 23:59:59'})" class="form-control" placeholder="对账期结束时间" value="" />
				</div>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12 form-group">
				<input name="" type="button" ng-click="accountStatementDraw()" class="btn btn-info" value="查询"/>
				&nbsp; &nbsp;
				<input name="" type="button" ng-click="uploadLianlianFile()" class="btn btn-success" value="导入连连对账文件"/>
				&nbsp; &nbsp;
				<input name="" type="button" ng-click="uploadSpdbFile()" class="btn btn-success" value="导入浦发对账文件"/>
			</div>
		</div>
	</form>
</div>

<div class="wrapper">
	<div class="row">
		<div class="col-sm-12">

			<section class="panel panel-body ">
				<table class="table table-striped responsive-utilities jambo_table" id="accountStatementTable">
					<thead>
					<tr>
						<th>ID</th>
						<!--<th>对账单号</th>-->
						<th>对账单类型</th>
						<th>对账单状态</th>
						<th>对账期</th>
						<th>对账期类型</th>
						<!--<th>对账期开始时间</th>-->
						<!--<th>对账期结束时间</th>-->
						<th>创建时间</th>
						<th>对账完成时间</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>


<div class="modal fade" id="accountStatementFilesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1100px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					对账结果文件列表
				</h4>
			</div>
			<div class="modal-body accountStatementFilesList" style="overflow-y: scroll;">
				<table class="table table-striped responsive-utilities jambo_table">
					<thead>
					<tr class="headings">
						<th>ID</th>
						<th>对账单ID</th>
						<th>名称</th>
						<th>类型</th>
						<th>状态</th>
						<th>路径</th>
						<!--<th>url</th>-->
						<th>创建时间</th>
						<!--<th>更新时间</th>-->
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="value in files">
							<td>{{value.id}}</td>
							<td>{{value.statementId}}</td>
							<td>{{value.name}}</td>
							<td>{{value.typeText}}</td>
							<td>{{value.statusText}}</td>
							<td>{{value.path}}</td>
							<!--<td>{{value.url}}</td>-->
							<td>{{value.createdTime}}</td>
							<!--<td>{{value.updatedTime}}</td>-->
							<!--<td>{{value.totalBalance|formatNumDigit}}</td>-->
							<!--<td>{{value.totalRedPackAmount|formatNumDigit}}</td>-->
							<td><button class="btn btn-success btn-xs" ng-click="downloadAccountStatementFile(value.id)"> 下载 </button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>

<div class="modal fade" id="uploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 800px">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					对账文件导入
				</h4>
			</div>
			<div class="modal-body uploadFileBody" style="overflow-y: scroll;">
				<!--<div class="form-group">-->
				<section class="panel panel-body ">
					<form id="uploadFileForm" action="/accounting/report/uploadAccountFile" method="post" enctype="multipart/form-data" onsubmit="return uploadAccountFile()">
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12">对账期类型</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<select class="form-control"  name="periodType">
									<option selected="selected" value="1">日</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12">对账期</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" id="period" name="period" onfocus="WdatePicker({errDealMode:1,el:'period',dateFmt:'yyyy-MM-dd'})" class="form-control"  placeholder="对账期" value="" />
							</div>
							<br/>
							<br/>
						</div>
						<div class="form-group">
							<label class="control-label col-md-2 col-sm-2 col-xs-12">对账文件</label>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="text" name="statementType"  style="display:none" value="" />
								<input type="file" name="file" class="btn btn-default" style="display: inline-block" />&nbsp;&nbsp;<br/><br/>  <button type="submit" class="btn btn-success">导入</button>
							</div>
						</div>
						<div class="form-group">

						</div>
					</form>
				<!--</div>-->
					</section>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>

<script src="/js/jquery.form.js"></script>
<script src="/js/module/accountStatement/account_statement_list.js"></script>