<div class="page-heading">
	<div class="form-group">
		<button type="button" class="btn btn-success" ng-click="showModal('#adminMenuModal')">
			<i class='fa fa-plus-square'></i> &nbsp;添加菜单
		</button>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="col-sm-12">
			<section class="panel panel-body ">
				<table class="table table-striped responsive-utilities jambo_table" id="adminMenuTable">
					<thead>
					<tr>
						<th>菜单ID</th>
						<th>菜单名称</th>
						<th>父菜单ID</th>
						<th>URL</th>
						<th>状态</th>
						<th>排序号</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>

<!-- /modal adminListModal -->
<div class="modal fade" id="adminMenuModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					新增菜单
				</h4>
			</div>
			<form id="adminMenuForm" class="cmxform form-horizontal">
				<div class="modal-body">
					<input type="hidden" name="adminMenuId" ng-model="adminMenuId" value=""/>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">菜单名称 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" name="name" ng-model="name" class="form-control col-md-7 col-xs-12" placeholder="菜单名称">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">父菜单Id <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="number" name="parentId" ng-model="parentId" class="form-control col-md-7 col-xs-12" placeholder="父菜单Id">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" >url <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" name="url" ng-model="url" class="form-control col-md-7 col-xs-12" placeholder="url">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">状态 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<label class="radio-inline">
								<input type="radio" name="status" ng-model="status" class="flat" value="1" checked="checked" /> 开启 &nbsp;&nbsp;
							</label>
							<label class="radio-inline">
								<input type="radio" name="status" ng-model="status" class="flat" value="2" /> 关闭
							</label>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">排序号 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="number" name="sequence" ng-model="sequence" class="form-control col-md-7 col-xs-12" placeholder="排序号">
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-offset-3 col-lg-9" id="addAdminMenuFormErrorMsg"></div>
					</div>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-success">提交</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div>
</div>
<!-- /modal adminListModal -->

<script src="js/module/admin/admin-menu-list.js"></script>
