<div class="page-heading">
	<div class="form-group">
		<button type="button" class="btn btn-success" ng-click="showModal('#authManageModal')">
			<i class='fa fa-plus-square'></i> &nbsp;添加角色
		</button>
	</div>
</div>

<div class="wrapper">
	<div class="row">
		<div class="col-sm-12">
			<section class="panel panel-body">
				<table id="authManageTable" class="table table-striped responsive-utilities jambo_table">
					<thead>
					<tr class="headings">
						<th>编号</th>
						<th>名称</th>
						<th>代号</th>
						<th>状态</th>
						<th>描述</th>
						<th>操作</th>
					</tr>
					</thead>

					<tbody>

					</tbody>
				</table>
			</section>
		</div>
	</div>
</div>


<!-- /modal adminListModal -->
<div class="modal fade" id="authManageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title">
					新增角色
				</h4>
			</div>
			<form id="addAuthManageForm" class="cmxform form-horizontal">
				<div class="modal-body">
					<input type="hidden" name="authId" ng-model="authId" value=""/>
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">角色名称 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" name="name" ng-model="name" class="form-control col-md-7 col-xs-12" placeholder="角色名称">
						</div>
					</div>

					<div class="form-group" ng-init="showCode = true" ng-show="showCode">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">角色代号 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" name="code" ng-model="code" class="form-control col-md-7 col-xs-12" placeholder="角色代号">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" >角色描述 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<input type="text" name="description" ng-model="description" class="form-control col-md-7 col-xs-12" placeholder="角色描述">
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">状态 <span class="required">*</span>
						</label>
						<div class="col-md-9 col-sm-9 col-xs-12">
							<label class="radio-inline">
								<input type="radio" name="status" ng-model="status" class="flat" value="1" checked="checked" /> 开启 &nbsp;&nbsp;
							</label>
							<label class="radio-inline">
								<input type="radio" name="status" ng-model="status" class="flat" value="2" /> 关闭
							</label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-lg-offset-3 col-lg-9" id="addAuthManageErrorMsg"></div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					<button type="submit" class="btn btn-success">提交</button>
				</div>
			</form>
		</div><!-- /.modal-content -->
	</div>
</div>
<!-- /modal adminListModal -->


<!-- /modal empowerment -->
<div class="modal fade" id="empowermentAuth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabelEmp">
					分配菜单权限
				</h4>
			</div>
			<div class="modal-body">
				<form id="formEmp" data-parsley-validate class="form-horizontal form-label-left">
					<input type="hidden" name="empIdAuth" ng-model="empIdAuth" value=""/>
					<div class="form-group" style="margin-bottom: 0">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class='add_class'><input name='all' ng-click='actionAll($event)' type='checkbox'/> 全选</div>
							<div class="form-group" id="menusp">
								正在加载...
							</div>
						</div>
					</div>

				</form>
			</div>
			<div class="modal-footer" style="margin-top: 0">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" ng-click="submitAuthEmpowerment()"  class="btn btn-success">提交更改</button>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>
<!-- /modal adminListModal -->


<script src="js/module/admin/admin-role-list.js"></script>