##单笔支付
<body>
<elecChequeNo>$withDrawalsInfo.elecChequeNo</elecChequeNo>
<acctNo>$acctNo</acctNo>
<acctName>$acctName</acctName>
<bespeakDate></bespeakDate>
<payeeAcctNo>$withDrawalsInfo.payeeAcctNo</payeeAcctNo>
<payeeName>$withDrawalsInfo.payeeName</payeeName>
<payeeType>$withDrawalsInfo.payeeType</payeeType>
##同行
#if($withDrawalsInfo.sysflag == 0)  
<payeeBankName></payeeBankName>
<payeeAddress></payeeAddress>
<amount>$withDrawalsInfo.amount</amount>
<sysFlag>$withDrawalsInfo.sysflag</sysFlag>
<remitLocation></remitLocation>
<note></note>
<payeeBankSelectFlag></payeeBankSelectFlag>
<payeeBankNo></payeeBankNo> 
#else  
<payeeBankName>$withDrawalsInfo.payeeBankName</payeeBankName>
<payeeAddress></payeeAddress>
<amount>$withDrawalsInfo.amount</amount>
<sysFlag>$withDrawalsInfo.sysflag</sysFlag>
<remitLocation>$withDrawalsInfo.remitLocation</remitLocation>
<note></note>
<payeeBankSelectFlag>$withDrawalsInfo.payeeBankSelectFlag</payeeBankSelectFlag>
<payeeBankNo>$withDrawalsInfo.payeeBankNo</payeeBankNo>
#end
</body>