<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <dubbo:application name="${dubbo.app.name}" owner="${dubbo.app.owner}" organization="${dubbo.app.organization}"
                       architecture="${dubbo.app.architecture}"/>
    <dubbo:registry id="fundamentalRegistry" address="${dubbo.app.registry.address}"
                    protocol="${dubbo.app.registry.protocol}"/>
    <dubbo:protocol name="${dubbo.app.protocol.name}" host="${dubbo.app.protocol.host}"
                    port="${dubbo.app.protocol.port}" dispatcher="${dubbo.app.protocol.dispatcher}"
                    threadpool="${dubbo.app.protocol.threadpool}" threads="${dubbo.app.protocol.threads}"/>
    <dubbo:provider filter="requestLogFilter"/>
    <dubbo:consumer filter="requestLogFilter"/>
</beans>
